{% extends "main/base.html" %}
{% load static %}


{% block content %}
  <h2>Оформление заказа</h2>
    <script src="{% static 'main/js/fondy.js'%}"></script>
  <script src="https://api.fondy.eu/static_common/v1/checkout/ipsp.js"></script>
  <div id="checkout">
      <div id="checkout_header">
        Shop Checkout
      </div>
      <div id="checkout_wrapper">
        <div id="checkout_loader"><div class="loader">Loading</div></div>
      </div>
      <div id="checkout_message">Sample Footer Message</div>
      <div id="checkout_button" onclick="$ipsp('checkout').send('submit')">Pay</div>
  </div>
 
{%endblock%}